* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font: 100%/1.618 sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ECE0D5;
  padding: 0.5rem;
}

.visually-hidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
}

iframe {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.074rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.44rem;
}

header p {
  font-size: 1.44rem;
  font-weight: 100;
}

nav {
  width: 100%;
  border-bottom: 1px solid #2c2c2c;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style: none;
  padding: 0.5rem 1rem 0.75rem 1rem;
}

nav li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
}

figure {
  padding: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#image {
  width: 100%;
  height: auto;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

figcaption {
  margin-bottom: 1rem;
  color: whitesmoke;
}

summary:focus {
  outline: none;
}

summary {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #1c1c1c;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

details h2 {
  padding: 0.25rem 1rem;
}

details ul {
  margin: 0 1rem;
  padding: 0 1rem;
}

details li {
  padding: 0.5rem 0;
  color: whitesmoke;
}

details p {
  font-weight: 300;
  padding: 0.5rem 1rem;
  color: whitesmoke;
}


details p:last-child {
  margin-bottom: 1rem;
}

.interview {
  border-bottom: 1px solid #b0a79b;
  margin-bottom: 1rem;
}

.interview p {
  font-size: 1.2rem;
}
span {
  font-size: 0.8rem;
  color: #b0a79b;
}

.interview a {
  color: whitesmoke;
  font-weight: bold;
}

.center-heading {
  text-align: center;
  padding: 1rem;
}

.album__container {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


.album__container img {
  height: 200px;
  width: auto;
  margin: 0;
  padding: 1rem;
}
.album__info {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.album__info h3 {
  font-size: 1.44rem;
  color: #ECE0D5;
}

.album__info p {
  color: whitesmoke;
  font-size: 1.2rem;
}
details ol {
  margin: 0 1rem;
}

ol li {
  padding: 0.25rem 0;
  list-style: none;
}

ol li a {
  text-decoration: none;
}


.ri-youtube-fill {
  color:	#FF0000;
  font-size: 1.44rem;
  padding: 0 0.75rem;
}

.ri-spotify-fill {
  color: 	#1DB954;
  font-size: 1.44rem;
}

.ri-facebook-line {
  background-color: #3b5998;
  color: white;
}

.ri-twitter-line {
  background-color: #00acee;
  color: white;
}

.ri-instagram-line {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}

.ri-youtube-line {
  background-color:	#FF0000;
  color: white;
}

.ri-linkedin-line {
  background-color:	#0E76A8;
  color: white;
}

.ri-gitlab-line {
  background-color:	#fc6d26;
  color: white;
}

.icon {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  opacity: 0.5;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

.icon:hover {
  opacity: 1;
}

.small-icon {
  font-size: 2rem;
  padding: 0.5rem;
  opacity: 0.5;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.small-icon:hover {
  opacity: 1;
}

.socials ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.socials a {
  text-decoration: none;
}

.author ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top {
  font-size: 1.2rem;
  color: #1c1c1c;
  margin: 0.25rem;
  text-decoration: none;
  outline: none;
}


 @media only screen and (min-width: 40rem){
  figure {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }

  figcaption {
    margin-bottom: 1rem;
  }

  .bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .bio details {
    width: 48%;
  }

  .bio details[open] {
    width: 100%;
  }

  .dio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .album {
    width: 48%;
    margin-bottom: 0.25rem;
  }

  .album:last-of-type {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .album__container:last-of-type {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .dio details:last-of-type {
    width: 100%;
  }

  .dio details[open] {
    width: 100%;
  }


  .center-heading:not(:last-of-type) {
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
  }

  .icon {
    margin: 0.25rem;
  }

}

@media only screen and (min-width: 60rem){
 main {
   margin-right: auto;
   margin-left: auto;
   width: 60rem;
 }

}